extends layout

block content

  if message
    h3= message
    a.btn.btn-primary.btn-lg.btn-block.mt-2(href=baseUrl, role='button') Home
  else
    form.form-signin(method='POST' action='')
      //- Logo
      img.d-block.mx-auto.mb-4(src=baseUrl+'images/tasor3.png' alt='' width='300' height='350')

      //- Title
      h1.h3.mb-3.font-weight-normal.text-center Please Enter Your Registered E-mail

      //- Validation feedback
      if errors
        ul
          for error in errors
            li!= error.msg

      //- Email
      label.sr-only(for='email') Email address
      input#email.form-control(type='email' name='email' placeholder='Email' required='true' autofocus='' value=(undefined===email ? '' : email))

      //- Submit
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Reset
      a.btn.btn-success.btn-lg.btn-block.mt-2(href=baseUrl, role='button') Home